---
layout: default
---
<div class="Header wa">
    <div class="width C pr">
        <a class="Logo1 pa cp db" href="/"><img src="../images/logo3.jpg" width="170" height="185" alt="原子团队" /></a>
        <ul class="Nav r C pr">
            <li><a href="/connect.html">联系方式</a></li>
            <li><a href="/baokuan.html">爆款打造</a></li>
            <li><a href="/concern.html">关于原子</a></li>
            <li><a href="/" id="hovered">首页</a></li>
        </ul>
    </div>
</div>
<div id="content">
    <!--[if !IE]><!-->{{ content }}<!--<![endif]-->
    <!--[if gte IE 8]>{{ content }}<![endif]-->
    <!--[if lt IE 8]>
        <div class="conts2" style="height:700px;background:url(../images/404/bg.jpg);">
            <div class="PoContent" style="width:550px;height:35px;line-height:35px;text-align:center;margin:332px auto 0 auto;">
                <h2 style="font-size:22px;margin:0;">很抱歉！您的浏览器版本过低请升级到最新版本</h2>
            </div>
        </div>
    <![endif]-->
</div>
<div id="Afooter">
    <div class="Footer">
        <ul class="width C pr" style="height:189px;">
            <li class="footerPart l" style="margin-left:14px;">
                <span class="footerTitle l wa">
                    <span class="l">关于我们</span>
                    <span class="en">/ About us</span>
                </span>
                <div class="footerContent l wa"><span>
                        原子团队——全国最专业爆款研究工作室之一，&nbsp;成立于2010年，专注解决淘宝、天猫、京东、阿里巴巴等电商平台销量提升的难题！&nbsp;
                        五年的经验积累和专业的核心技术铸就成为行业内顶尖的提升销量团队，总部位于杭州，欢迎店主们实地上门考察。<br/>
                        <span class="en">地址：杭州市江干区&nbsp;&nbsp;手机：15988831873&nbsp;&nbsp;Q Q：175613029</span></span>
                </div>
            </li>
            <li class="footerPart l" style="margin:0 31px;">
                <div class="footerTitle l wa">
                    <span class="l">客户评价</span>
                    <span class="en">/ 客户的满意就是我们的满意</span>
                </div>
                <div style="position:absolute;width:37px;height:16px;right:3px;top:6px;">
                    <span class="l br3 CButtonLeft cp" style="visibility:visible;margin-right:5px">
                        <img src="../images/arrow_left.png" width="16" height="16">
                    </span>
                    <span class="l CButtonRight cp" style="visibility:visible;">
                        <img src="../images/arrow_right.png" width="16" height="16">
                    </span>
                </div>
                <div class="commentOuter ofh l">
                    <div class="commentContentContainer l">
                        <div class="commentContent l" style="margin-left: -394px; opacity: 0;">
                            <span class="l wa" style="text-indent: 30px;">原子团队最让人放心的就是做事
                                负责，&nbsp;我自己踏实，特别是手机端的爆款服务，效果是很明显的，虽然说比平时稍微贵了一点点，但是我的类目排名一下子就升了两个。</span>
                        </div>
                        <div class="commentContent l" style="margin-left: 0px; opacity: 1;">
                            <span class="l wa" style="text-indent: 30px;">原子团队在该领域还是比较的有实力的，主要是以工作室的形式纯人工刷单，&nbsp;员工的操作比较的规范，&nbsp;
                                所以做出来的的效果比较好，&nbsp;也比较的安全，&nbsp;前期觉得好像有点贵，&nbsp;但是看到他们的账号都是随机高等级的号，&nbsp;&nbsp;所以在安全上面让人
                                放心而且服务比较好，所以还是选择和他们继续合作下去。</span>
                        </div>
                        <div class="commentContent l">
                            <span class="l wa" style="text-indent: 30px;">起初是抱着试一试的态度和你们合作，因为现在网上关于打造爆款的信息太多
                                了，&nbsp;虚假的也比较多，&nbsp;后面和你们合作对于我店铺销量的提升真的很有效果，必须给你们点个赞，找这方面的团队还是要找专业性比较
                                强的老牌团队，&nbsp;你们是，“行业典范，业界良心”。</span>
                        </div>
                        <div class="commentContent l">
                            <span class="l wa" style="text-indent: 30px;">原子团队最让我放心的就是操作的问题，我是和他们合作快三年了，&nbsp;只是偶尔
                                一点小小的问题，&nbsp;基本上是可以绝对放心的。技术方面的的话也是更新的比较快，现在我已经要他们手机端帮我们打造爆款啦。。。。
                            </span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="footerPart l"style="width:189px;height:189px;">
                <div style="width:189px; height:189px;background: url(../images/code.jpg) no-repeat;"></div>
            </li>
        </ul>
        <div class="ofh width" style="height:20px;margin-top:5px;">
            <img src="../images/copyRightLine2.jpg" width="1060" height="1">
        </div>
        <div class="copyright width C" style="padding:5px 0 10px 0;">
            <div class="l" style="padding-left:10px;">Copyright © 2015&nbsp;&nbsp;原子团队&nbsp;&nbsp;版权所有&nbsp;&nbsp;仿冒必究</div><a href="http://www.miitbeian.gov.cn/" style="float:left;color:#666;margin-left:8px;">浙ICP备15043673号</a><div class="cnzz1">
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256806741'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1256806741%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></div>
            <div class="bdsharebuttonbox">
                <a href="#" class="bds_more" data-cmd="more"></a>
                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
            </div>
            <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
        </div>
    </div>
    <div id="leftsead">
        <ul>
            <li>
                <a href="#">
                    <img src="../images/ll01.png" width="131" height="49" class="hides"/>
                    <img src="../images/l01.png" width="47" height="49" class="shows" />
                </a>
            </li>
            <li>
                <a href="/connect.html">
                    <img src="../images/ll05.png" width="131" height="49" class="hides"/>
                    <img src="../images/l05.png" width="47" height="49" class="shows"/>
                </a>
            </li>
            <li>
                <a id="top_btn2">
                    <img src="../images/ll06.png" width="131" height="49" class="hides"/>
                    <img src="../images/l06.png" width="47" height="49" class="shows"/>
                </a>
            </li>
        </ul>
    </div>
</div>
